<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">O nás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Kontakty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user.create">Zaregistrujte se</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">List uživatelů</a>
      </li>
    </ul>

        <div (click)="onClick()"><button id="switch">clicc 4 sidebar xddd</button></div>

    <input type="search" [(ngModel)]="search">
    <a *ngFor="let option of getFilteredOptions()" [routerLink]="option.path">{{option.title}}</a>
  </div>
